<!DOCTYPE html>
<html lang="">
<head>
    <title>CSV Data</title>
    <style>
        table { border-collapse: collapse; }
        th, td { border: 1px solid black; padding: 10px; }
        th { background-color: #f0f0f0; }
    </style>
</head>
<body>
<h1>CSV Data</h1>
<h2>Professions</h2>

<table>
    <% if (professions.length > 0) { %>
    <tr>
        <% for (let key in professions[0]) { %>
            <th><%= key %></th>
        <% } %>
    </tr>
        <% professions.forEach(profession => { %>
            <tr>
                <% for (let key in profession) { %>
                    <td><%= profession[key] %></td>
                <% } %>
            </tr>
        <% }) %>
    <% } else { %>
        <tr>
            <td>No data</td>
        </tr>
    <% } %>
</table>

<h2>Skills</h2>

<table>
    <% if (skills.length > 0) { %>
        <tr>
            <% for (let key in skills[0]) { %>
                <th><%= key %></th>
            <% } %>
        </tr>
        <% professions.forEach(profession => { %>
            <tr>
                <% for (let key in profession) { %>
                    <td><%= profession[key] %></td>
                <% } %>
            </tr>
        <% }) %>
    <% } else { %>
        <tr>
            <td>No data</td>
        </tr>
    <% } %>
</table>

<h2>Skills</h2>

<table>
    <% if (skills.length > 0) { %>
        <tr>
            <% for (let key in skills[0]) { %>
                <th><%= key %></th>
            <% } %>
        </tr>
        <% skills.forEach(skill => { %>
            <tr>
                <% for (let key in skill) { %>
                    <td><%= skill[key] %></td>
                <% } %>
            </tr>
        <% }) %>
    <% } else { %>
        <tr>
            <td>No data</td>
        </tr>
    <% } %>
</table>
</body>
</html>
